:root {
  --black: #111;
}

body { 
  font-family: 'DM Sans', sans-serif;
  position: relative; 
  color: var(--black);
  font-size: 16px;
}

canvas { vertical-align: bottom; }

.control-group {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
}

.control-group button {
  padding: 12px 24px;
  font-weight: 500;
  border: 2px solid var(--black);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
}

.control-group button:hover { transform: scale(.95); }

.control-group i { margin-right: 8px; }
.btn-toggle-sound { margin-right: 12px; }